[Unit]
Description=Download and install Proxmox/Debian package updates

[Service]
Type=oneshot
ExecStart=/usr/local/bin/proxmox-updater.sh
SyslogIdentifier=proxmox-updater
