[Unit]
Description=Download and install Proxmox/Debian package updates

[Service]
Type=oneshot
ExecStart=/usr/local/bin/pve-update.sh
SyslogIdentifier=pve-update
